/*COMMON*/
body{
    color: #333; /*회색*/
    font-size: 16px;  /*16px 로 시작*/
    font-weight: 400;  /* 두깨는 400 */
    line-height: 1.4;   /* 줄의 높이, 16px에 1.4배에 해당하는 줄높이이다.*/
    font-family: "Gowun Batang", serif;
    
}
img{
    display: block;  /*img는 원래 인라인 요소(위 아래 값을 조절할 수 없음)이지만 이제 상자로 취급한다. 즉 레이아웃으로 취급한다.*/
}

/* HEADER */
header{
    background-color: royalblue;
}

header .inner{
    width: 1100px;
    height: 120px;
    margin: 0 auto;  /*0은 위 아래 외부 여백이 0을 뜻하고 auto는 좌우가 자동이란 것이다.*/
    background-color: orange;
    position: relative;
}
header .logo{
    height: 75px;
    position: absolute;  /* 부모 요소 기준으로 배치하겠다. 근데 이걸 사용하려면 상위(inner) 부분에 포지션 값이 있어야 한다.*/
    top: 0;
    bottom: 0;  /* 위 아래 0 으로 설정 */
    margin: auto;  /* margin이라는 외부 여백 속성은 auto */
}